
* {
  box-sizing: border-box;
  font-family: 'Noto Sans';
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}



body {
  background-color: #FFFFFF;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

aside, #driver_of_the_week, #graph, header, nav {
  background-color: white;
}

/*=========HEADER==========*/

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 auto;
  display: flex;
  top: 0;
}

/*=========TITLES==========*/

.title {
  font-size: 2em;
  color: #EDC240;
  text-shadow: 2px 2px 2px #2E250C ;
  text-align: center;
  margin: .5em auto;
  width: 100%;
  margin-top: 2em;
}
/*=========NAV==========*/

nav {
  border: .4em solid #88166D;
  width: 100%;
  padding: 1em;
  margin: 0 auto;
  display: flex;
}

#header_image {
  width: 140px;
  height: 90px;
  margin-left: 2em;
}

a:link, a:visited {
  text-decoration: none;
}


a {
  color: #BC2021;
  font-size: 2em;
  width: 15%;
}

nav a {
  text-align: center;
  margin-top: .6em;
}

#filler1 {
  width: 10%;
}

#filler2 {
  width: 10%;
}

#logo {
  width: 20%;
  height: 2.5em;
  margin-top: 1em;
}

/*======Main=======*/

#main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 40em;

}

section {
  width: 70%;
  height: 100px;
  margin: 0 auto;
}


/*=====Standings/Driver List=======*/

aside {
  width: 20%;
  border: .4em solid #88166D;
  margin-right: 1em;
  padding-right: .5em;
  margin-top: 9em;
}

ol {
  margin-left: 1em;
  font-size: 1em;
}

h4 {
  text-align: center;
}

#standings {
  margin: 0 auto;
}

.driver-link {
  color: black;
  font-size: 0.8em;
  margin: 0 1em;
}

.driver-link:hover {
  color: blue;
  font-size: 0.9em;
  text-shadow: 0.5px 0.5px 0.5px grey;
}

#driver_section {
  padding: 0;
  margin: 0 auto;
}

#driver {
  list-style: none;
  text-align: center;
  display: inline-block;
  padding: .5em 3em 0 3em;
  font-size: .7em;
}


#driver_list {
  width: 100%;
  display: flex;
  text-decoration: none;
  font-size: .8em;
  color: #EDC240;
  text-align: center;
}


#bio {
  list-style: none;
  font-size: 2em;
}



/*======Driver Detail Page=======*/


b {
  font-size: .75em;
  color: #BC2021;
}

#driver_detail {
  font-size: 2em;
  font-weight: bold;
  color: #02549E;
  list-style-type: none;
}

/*========Graph========*/



#graphed {
  width: 100%;
  padding-left: 5em;
}

.driver-select {
  text-align: center;
  font-size: 5em;
  margin: 2em auto;
  color: #BC2021;
}

.line {
  fill: none;
  stroke: #BC2021;
  stroke-width: 5px;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  -webkit-animation: line 6s linear forwards;
          animation: line 6s linear forwards;
}

#graph {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  height: 450px;
  border: 2px solid black;
}

g {
  font-size: 1em;
}

#graph-list {
  text-align: center;
}

@-webkit-keyframes line {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line {
  to {
    stroke-dashoffset: 0;
  }
}

select {
  height: 2em;
  width: 12em;
  font-size: 1.2em;
  text-align: center;
  border: 2px solid black;
}


h5 {
  font-size: 1em;
}


/*=====Driver of the Week Section=====*/

#driver_of_the_week {
  display: flex;
  width: 100%;
  margin: 0 auto;
  border: 2px solid black;
}

#driverImg {
  height: 200px;
  margin: 0 auto;
}

#driver {
  width: 30%;
  margin: 0 auto;
}

p {
  width: 75%;
  font-size: 1.2em;
}

/*========Map=========*/

#map_section {
  margin: 2em;
}

#map {
  height: 600px;
  padding: 2em;
  width: 100%;
  margin: 3em 0 0 0 auto;
  border: #88166D .2em solid;
  position: relative;
}

#content {
  width: 100%;
  margin: 1em auto;
}

#bodyContent {
  width: 100%;
  display: flex;
}

#bodyContent img {
  width: 100%;
  margin: 0 auto;
  height: 200px;
}

#content h2 {
  font-size: 3.5em;
  margin: 0 auto;
  background-color: #EDC240;
}


#content p {
  margin: 0 auto;
  width: 75%;
  font-size: 1.4em;
}

/*=======Slide Effect========*/

.slide-in {
  opacity: 0;
  transition: all .5s;
}

.slide-in {
  transform: translateX(-30%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

/*======Footer=======*/

footer {
  background-color: #EDC240;
  padding: 1em;
  display: block;
}
