{% load staticfiles %}

<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <title>Racechart</title>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
            crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/landing.css' %}">

        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script src="{% static 'script/api.js' %}" defer></script>
        <script src="{% static 'script/app.js' %}" defer></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key="></script>
    </head>
    <body>
        <div class="hamburger">
            <i class=" fas fa-bars"></i>
        </div>

        <header class="header-nav">
            <img id="header-image" src="{% static 'images/racechart-logo.png' %}">
            <nav>
                <a href="/">Home</a>
                <a href="/drivers">Drivers</a>
                <a href="/race">Race</a>
                <a href="/results">Results</a>
            </nav>
            <img id="logo" src="{% static 'images/nascar_logo.png' %}">
        </header>
        {% block content %}
        {% endblock %}
    </body>
    <hr />
    <footer>
      <h3>RaceChart is brought to you by Team FMTB</h3>
    </footer>
</html>
