{% extends 'racechart/base.html' %}
{% load staticfiles %}

{% block content %}

<script src="{% static 'script/map.js' %}" defer></script>

<div id="main">
  <section id='graphSection'>
    <h3 class="title">Driver Performance</h3>
    <form id="graph-list">
      <select id='driveFunction' onchange="getId(this)">
        <option selected disabled hidden>Drivers</option>
        {% for standing in standings %}
        <option id='{{ standing.driver.pk }}'>
            {{ standing.driver }}
        </option>
        {% endfor %}
      </select>
    </form>
    <section class='slide-in' id="graph">
      <div id='graphed'>
        <h1 class="driver-select">Select a Driver!</h1>
      </div>
    </section>
    <h3 class="title">Driver of the Week</h3>
    <div class='slide-in' id="driver_of_the_week">
      <img id="driverImg" src="{% static 'images/kyle_busch.png' %}"/>
      <p>Kyle Busch Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <h3 class="title">Race Map</h3>
    <div class='slide-in' id='map_section'>
      <div id='map'>
      </div>
  </section>
  <aside>
    <div id="standings">
      <h3 class="title">Standings</h3>
      <ol>
        {% for standing in standings %}
        <li id='standing_list'>
          <a class="driver-link" href="{% url 'driver_detail' pk=standing.driver.pk %}">
            {{standing.full_name}}
          </a>
        </li>
        {% endfor %}
      </ol>
    </div>
  </aside>
</div>



{% endblock %}
